<nav class="navbar" aria-label="App Navigation">
  <div class="brand">
    <img src="https://www.oss-online.org/sites/default/files/logo-h.png" alt="Logo" />
    <span>FrontMisbar</span>
  </div>
  <ul class="links">
    <li><a routerLink="/map" routerLinkActive="active">Map</a></li>
    <li><a routerLink="/about" routerLinkActive="active">About</a></li>
  </ul>
  <div class="actions">
    <button class="share" (click)="share()">Share</button>
    <span class="copied" *ngIf="copied">Copied!</span>
  </div>
</nav>
