::ng-deep .custom-label .mdc-label {
  color: #111827 !important;
  font-weight: 600 !important;
}

::ng-deep .custom-label .mdc-checkbox .mdc-checkbox__background {
  border-color: #2563eb !important;
}

::ng-deep .custom-label .mdc-checkbox.mdc-checkbox--selected .mdc-checkbox__background {
  background-color: #2563eb !important;
  border-color: #2563eb !important;
}

::ng-deep .custom-label .mdc-checkbox .mdc-checkbox__checkmark-path {
  stroke: white !important;
}
